.flag-add-toybox, .read-more-link-wrapper {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
}
.flag-add-toybox a, .read-more-link-wrapper a {
	font-family: "alwaysheretoo";
	font-size: 1em;
}
.toybox-marker, .link-marker {
	margin-right: .5em; /* margin between the teddy bear image and the 'Add To Toybox' text, or the plus sign and "Read More / Details" link */
}
.view-blog-listings .link-marker {
	margin-right: .25em; /* use smaller margin for Rainy Day Fun view panes */
}
.link-marker {
	/* the 'alwaysheretoo' font doesn't seem to vertically center within its line exactly,
	so for marker & text to appear centered, make the marker image slightly taller with
	a tiny bit of padding added to the bottom */
	padding-bottom: .2em;
}
