/* One-stop file to change the default colors for all css-generated age group labels */

/* whole family */
.age-group--display-as-ul > li._all, .age-key--all, .global-filter-2-field-ages > li:nth-child(1) {
	background-color: #E8DB80;
	width: 6em;
}
/* 0-1 */
.age-group--display-as-ul > li._0-1, .age-key--0-1, .global-filter-2-field-ages > li:nth-child(2) {
	background-color: #91ADAA;
}
/* 2-4 */
.age-group--display-as-ul > li._2-4, .age-key--2-4, .global-filter-2-field-ages > li:nth-child(3) {
	background-color: #DEAC39;
}
/* 5-7 */
.age-group--display-as-ul > li._5-7, .age-key--5-7, .global-filter-2-field-ages > li:nth-child(4) {
	background-color: #B84165;
}
/* 8-12 */
.age-group--display-as-ul > li._8-12, .age-key--8-12, .global-filter-2-field-ages > li:nth-child(5) {
	background-color: #A4B445;
}
/* 13-17 */
.age-group--display-as-ul > li._13-17, .age-key--13-17, .global-filter-2-field-ages > li:nth-child(6) {
	background-color: #816389;
}
.age-group-list, .global-filter-2-field-ages {
	display: flex;
	flex-flow: row nowrap;
	list-style-type: none;
	line-height: 0;
	text-align: center;
}
/* Global filter specific styles */

.age-group--display-as-ul, .global-filter-2-field-ages {
	justify-content: center;
}
/* Styles for the age-group global filter, along with the
   age-group field display on business pages */
.global-filter--age-group > h4, .pane-node-field-ages > h4 {
	font-family: alwaysheretoo;
	font-size: 1.3875em;
	margin: 0;
}
.age-group--display-as-ul > li._all, .global-filter-2-field-ages > li:nth-child(1) {
	width: 8em !important;
	order: 99; /* put the all ('Whole Family') option at the end */
}
/*shared*/
.age-group--display-as-ul > li, .global-filter-2-field-ages > li {
	box-shadow: 5px 5px 5px #C7BBBB;
	-webkit-box-shadow: 5px 5px 5px #C7BBBB;
	-moz-box-shadow: 5px 5px 5px #C7BBBB;
	margin: .375em .75em !important; /* don't let global_filter.css default margin be used! */
	;
	width: 3em;
}
 @media all and (max-width: 640px) {
.age-group--display-as-ul > li,  .global-filter-2-field-ages > li {
	margin: .375em; /* change left/right margins to .375em (same as top/bottom margins) when screen size is smaller */
}
}
.age-group--display-as-ul > li > a, .age-group--display-as-ul > li, .global-filter-2-field-ages > li > a, .global-filter-2-field-ages > li {
	line-height: 2em;
	font-size: 1.125em;
}
/* links */
.age-group-list > li > a, .age-group-list > li, .global-filter-2-field-ages > li > a, .global-filter-2-field-ages > li {
	color: black;
	font-family: antique_olive_condensed;
	text-decoration: none;
}
.global-filter-2-field-ages > li > a.active {
	text-decoration: underline;
}
.global-filter-2-field-ages > li > a {
	display: block;
	width: 100%; /* make clickable link area cover the entire colored li element */
}
