/*                               *
 * Pane for Rainy Day Activities *
 *                               */
.rainy-day-pane {
	box-sizing: border-box;
	position: relative;
	max-width: 600px;
}
.rainy-day-pane a {
	font-family: "alwaysheretoo";
}
.rainy-day-pane h2.pane-title {
	/* padding-top: 1em; */
	font-size: 2.25em;
	font-family: "antique_olive_compact";
	text-transform: uppercase;
	margin-top: .5em; /* half of the font-size of the h2 */
}
.rainy-day-pane .view-header p {
	font-size: 1.125em;  /* 18px / 16px = 1.125em */
	font-family: "alwaysheretoo", Georgia, Serif;
	line-height: 1.6875em;
	text-align: center;
}
.rainy-day-pane > .view > .view-content {
	margin-top: 3em; /* gap between the list & the header for this view */
}
.rainy-day-pane .views-row {
	margin-top: .5em;
	margin-bottom: .5em;
}
.rainy-day-pane .views-field-field-image {
	height: 125px;
	width: 125px;
	text-align: center;
	float: left;
	padding: 0px; /* OVERRIDES SETTINGS THAT WERE PREVIOUSLY SET BY TAYLOR FOR 'div.views-field.views-field-field-image' */
	margin-right: 2em; /* margin between the images and the text-based fields for each view result *//*border: 2px solid black;*/
}
.rainy-day-pane .views-field-title {
	font-family: 'antique_olive_roman';
	font-size: 1em;
}
.rainy-day-pane .views-field-field-description {
	font-family: 'antique_olive_light';
	font-size: .875em;
	line-height: 1em; /* don't want large space if description encompasses multiple lines */
}
/* the "READ MORE" link & "ADD TO TOYBOX" links */
.rainy-day-pane .views-field-view-node {
	font-family: 'alwaysheretoo';
	font-size: 1.125em;
}
.rainy-day-pane .views-field-view-node {
	margin-right: 1.5em; /* 24 / 16 = 1.5 */
}
.rainy-day-pane .views-field-ops {
	white-space: nowrap; /* put "ADD TO TOYBOX" on new line if have to -- don't wrap between marker or words */
}
.rainy-day-pane .age-group-list img {
	height: 1em;
}
.rainy-day-pane .age-group-list li + li {
	margin-left: .25em; /* for .25em gap between all the labels */
}
.rainy-day-pane .views-field-field-ages + .views-field-field-description { /* style for description, if placed after an ages field */
	margin-top: .5em; /* since line-height is 1em instead of 1.5em default, add extra margin to top so
                         age-group labels above this have space */
}
/* ads displayed within blog listings results */
.rainy-day-pane .ad-container {
/*border-top: 4px solid #23B0CA;
	border-bottom: 4px solid #23B0CA;
	padding: .5em 0;
	margin: 1.5em 0;*/
}
.rainy-day-pane .pager-title {
	font-size: 1.125em;
	font-family: antique_olive_compact;
	text-transform: uppercase;
	margin: 0;
	line-height: normal;
}
