/*                                                               *
 * Styles common for all rainy day panes, including home page's  *
 *                                                               */
.rainy-day-pane .view-header a, .rainy-day-pane .view-content a {
	font-family: "alwaysheretoo";
	font-size: 1em;
}
.rainy-day-pane h2.pane-title {
	/* padding-top: 1em; */
	font-size: 2.5em;
	font-family: "antique_olive_compact";
	text-transform: uppercase;
}
.rainy-day-pane .view-header {
	margin: .25em 0 1em 0;
}
.rainy-day-pane .view-header p {
	font-size: 1.25em;
	font-family: "alwaysheretoo", Georgia, Serif;
	line-height: 1.875em;
	text-align: center;
}
#rainy-day-opening-text {
	font-size: 1.1em;
	font-family: "antique_olive_light", Georgia, Serif !important;
	line-height: 1.1em;
	text-align: center;
}
#rainy-day-opening-text h2 {
	font-size: 2.5em;
	font-family: "antique_olive_compact";
	text-transform: uppercase;
	text-align: center;
	line-height: 100%;
	font-size: 2.25em;
	margin: 0;
}
#rainy-day-links {
	font-size: 1.25em;
	font-family: "alwaysheretoo", Georgia, Serif;
	line-height: 1.875em;
	text-align: center;
}
.rainy-day-pane .views-row {
	margin: 2em 0;
}
.rainy-day-pane--home .views-row {
	margin: .5em 0 .5em 96px;
	margin-left: calc(36.6666% - 124px); /* so 96px at 600px, 8px at 360px */
}
.rainy-day-pane .views-field-field-image {
	height: 100px;
	width: 100px;
	text-align: center;
	float: left;
	padding: 0px;
	margin-right: 5.3333%; /* margin between the images and the text-based fields for each view result *//* border: 2px solid lightgray;*/
}
.rainy-day-pane .views-field-title, .rainy-day-pane .views-field-field-description, .rainy-day-pane .views-field-field-ages, .rainy-day-pane .views-field-ops {
	margin-left: calc(5.3333% + 100px); /* So these fields line up, right of image's space, even if runs below image */
}
.rainy-day-pane .views-field-field-image img {
	width: 100%;
	height: auto;
	max-width: 100px;
	max-height: 100px;
}
.rainy-day-pane .views-field-title {
	font-family: 'antique_olive_roman';
	font-size: 1em;
	margin-bottom: .5em;
}
.rainy-day-pane .views-field-field-description {
	font-family: 'antique_olive_light';
	font-size: 1em;
	line-height: 1.1em; /* don't want large space if description encompasses multiple lines */
	margin-bottom: .5em;
}
/* the "READ MORE" link & "ADD TO TOYBOX" links */
.rainy-day-pane .views-field-view-node {
	font-family: 'alwaysheretoo';
	font-size: 1.125em;
}
.rainy-day-pane .views-field-view-node {
	margin-right: 1.5em; /* 24 / 16 = 1.5 */
}
.rainy-day-pane--additional-links {
	display: flex;
	flex-flow: row wrap;
}
.rainy-day-pane .views-field-ops {
	white-space: nowrap; /* put "ADD TO TOYBOX" on new line if have to -- don't wrap between marker or words */
	margin-bottom: 1em; /* will ensure 1em space between rows when width size collapses, making fields / links stack */
}
.rainy-day-pane .age-group-list img {
	height: 1em;
}
.rainy-day-pane .age-group-list li + li {
	margin-left: .25em; /* for .25em gap between all the labels */
}
.rainy-day-pane .views-field-field-ages + .views-field-field-description { /* style for description, if placed after an ages field */
	margin-top: .5em; /* since line-height is 1em instead of 1.5em default, add extra margin to top so
                         age-group labels above this have space */
}
.rainy-day-pane .read-more-link-wrapper {
	margin-right: 15%;
}
/* styles for the pager */
.rainy-day-pane .view-blog-listings > .view-content {
	margin-bottom: 4em; /* space between the entries & the pager */
}
.rainy-day-pane .pager-title {
	font-size: 1.25em;
	font-family: antique_olive_compact;
	text-transform: uppercase;
	text-align: center;
	margin: 0;
	line-height: normal;
}
.rainy-day-pane .pager {
	display: flex;
	align-items: center;
	justify-content: center;
	list-style: none;
	font-family: antique_olive_roman;
	font-size: 1.5em;
}
.rainy-day-pane .pager li {
	padding: 0 .5em;
}
.pager-first, .pager-last {
	display: none;
}
.BlogCloudTags {
	border-top: solid 5px #23B0CA;
	padding-top: 15px;
	padding-bottom: 50px;
	clear: both;
}
.BlogCloudTags span {
	/*font-size: 14px;
  background-color: #E8DB80;
  padding: 3px;
  border-radius: 7px;
  border: solid 2px #DEAC39;*/
	white-space: nowrap;
}
.BlogCloudTags span a {
	padding: 3px;
	color: Black;
	display: inline-block;
	margin-bottom: -1px;
}
.global-filter--age-group--blogs {
	margin-bottom: 2em; /*Divider to separate blocks*/
}
.global-filter--age-group--blogs ul {
	flex-flow: column nowrap;
}
.global-filter--age-group--blogs li, .global-filter--age-group--blogs li.active {
	width: 100% !important;
	margin-left: 0 !important;
	margin-right: 0 !important;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	margin: .25em 0;
}
.global-filter--age-group--blogs h4 {
	font-size: 2em;
	line-height: 1.125em;
	font-family: alwaysheretoo;
}
/*
 *Styling for all view blocks in mini panels
 */
#content > div.contextual-links-region > div.contextual-links-region.panel-pane.pane-panels-mini.pane-coloring-pages-side-ads.pane-right--width-35percent-300px-max-with-padding > div.panel-pane.pane-views.pane-archives-coloring-pages-by-date .panel-pane.pane-views {
}
.pane-mini-blogs-listings-right > div {
	max-width: 300px;
}
.pane-mini-blogs-listings-right > div + div {
	margin-top: 2em;
}
.blogs-recent-articles-block, .archives-view-block {
	text-align: center;
	background-color: #DADECD;
	padding: 1.5em 0;
	margin-bottom: 2em;/*Divider to separate blocks*/
}
.blogs-recent-articles-block h2, .archives-view-block h4 {
	font-size: 2.25em;
	font-family: alwaysheretoo;
}
.blogs-recent-articles-block a, .archives-view-block a {
	font-size: 1.125em;
	font-family: antique_olive_compact;
	line-height: normal;
	margin: 1em 0 0 0;
}
.blogs-recent-articles-block ul, .archives-view-block ul {
	list-style-type: none;
	line-height: normal;
}
.blogs-recent-articles-block a, .archives-view-block a {
	color: black;
}
/* ads displayed within blog listings results */
.rainy-day-pane .page-horz-ads-pane {
	border-top: 4px solid #23B0CA;
	border-bottom: 4px solid #23B0CA;
	padding: 1em 0;
	margin: 2em 0;
}





/* styles for smaller screens */

@media all and (max-width: 800px) {
.global-filter--age-group h4 {
	font-size: 1.75em;
}
.archives-view-block, .blogs-recent-articles-block {
	font-size: .75em;
}
}
 @media all and (max-width: 640px) {
.pane-mini-blogs-listings-right {
	/* override styles set by .pane-right--width-35percent-300px-max-with-padding */
	float: none;
	max-width: none;
	width: 100%;
	padding: 0;
}
.pane-mini-blogs-listings-right > div {
	max-width: none;
}
.blog-listings-page-logo-block {
	display: none;
}
.blogs-recent-articles-block, .archives-view-block {
	margin-top: 1.5em;
	padding: 1em 0;
}
.blogs-recent-articles-block > label, .archives-view-block > label {
	font-size: .875em;
}
}
