div#block-block-8 > p {
	display: none !important;
}
#content > article > div > div > div.panels-flexible-row.panels-flexible-row-13-main-row.panels-flexible-row-last.clearfix > div > div.panels-flexible-region.panels-flexible-region-13-center.panels-flexible-region-first > div > div.panel-pane.pane-custom.pane-1 > h1 > span {
	vertical-align: top;
	font-size: 2.4em;
	color: #682160;
}
#content > article > div > div > div.panels-flexible-region.panels-flexible-region-63-side.panels-flexible-region-last, #content > article > div > div > div.panels-flexible-region.panels-flexible-region-63-main_.panels-flexible-region-first {
	margin-top: 40px;
}
#content > article > div > div > div.panels-flexible-region.panels-flexible-region-63-main_.panels-flexible-region-first > div > div > h2 {
	font-size: 2.5em;
	color: #682160;
	text-align: left;
}
div#CategoryIndex > article > div > div > div > ul {
	-moz-column-count: 2;
	-moz-column-gap: 30px;
	-webkit-column-count: 2;
	-webkit-column-gap: 30px;
	column-count: 2;
	column-gap: 30px;
	margin-top: 50px;
}
#CategoryIndex > h2 {
	font-size: 2.7em;
	font-weight: bold;
	color: #682160;
}
div#CategoryIndex > article > div > div > div > ul > li > a {
	text-decoration: none;
	color: #23b0ca;
	font-family: "alwaysheretoo";
	font-size: 1.5em;
	font-weight: bold;
}
div#CategoryIndex > article > div > div > div > ul > li > a:hover {
	font-weight: bold;
	color: #682160;
}
div#CategoryIndex > article > div > div > div > ul > li {
	padding-bottom: 123px;
}
#CategoryIndex > article > div > div > div > ul > li:nth-child(8) > ul {
	margin-top: 30px;
	margin-left: 50px;
	list-style: none;
}
#CategoryIndex > article > div > div > div > ul > li:nth-child(8) > ul > li > a {
	font-size: 1.3em;
	color: #23b0ca;
	font-weight: bold;
	text-decoration: none;
	font-family: "alwaysheretoo"
}
#CategoryIndex > article > div > div > div > ul > li:nth-child(8) > ul > li > a:hover {
	text-decoration: none;
	font-weight: bold;
	color: #682160;
	font-family: "alwaysheretoo";
}
#CategoryIndex > article > div > div > div > ul > li:nth-child(8) > ul > li {
	padding-bottom: 30px;
}
#ServicesIndex > h2 {
	font-size: 3em;
	color: #682160;
	font-weight: bold;
}
#ServicesIndex > article > div > div > div > ul {
	-moz-column-count: 2;
	-moz-column-gap: 30px;
	-webkit-column-count: 2;
	-webkit-column-gap: 30px;
	column-count: 2;
	column-gap: 30px;
	margin-top: 50px;
}
div#ServicesIndex > article > div > div > div > ul > li > a {
	text-decoration: none;
	color: #23b0ca;
	font-family: "alwaysheretoo";
	font-size: 1.5em;
	font-weight: bold;
}
div#ServicesIndex > article > div > div > div > ul > li > a:hover {
	font-weight: bold;
	color: #682160;
}
div#ServicesIndex > article > div > div > div > ul > li {
	padding-bottom: 100px;
}
div.messages--warning {
	display: none !important;
}
p#contactImg1 {
	width: 66%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
}
h1#contactHeader {
	text-align: center;
	color: #682160;
	font-size: 2.7em;
	margin-bottom: -1.8em;
}
p.contactHead2 {
	float: left;
	margin-right: 10px;
	font-family: "alwaysheretoo";
	font-size: 1.8em;
	margin-left: 3%;
}
p#contactHead3 {
	float: left;
	font-family: "alwaysheretoo";
	font-size: 1.8em;
}
p#contactHead25 {
	float: left;
	font-family: "alwaysheretoo";
	font-size: 2.3em;
	margin-right: 10px;
}
p#contactEvent {
	clear: left;
	float: left;
	margin-top: 50px;
	font-weight: bold;
	font-size: 1.1em;
	text-align: center;
	width: 100%;
}
p#contactEvent:before {
	content: "";
	background-image: url('http://adcompanyhosting.com/images/footer_button.png');
	background-repeat: no-repeat;
	padding-left: 40px;
	padding-bottom: 13px;
	padding-top: 11px;
}
p#contactEvent > a, p#contactEvent > a:visited, p#contactBus > a, p#contactBus > a:visited, p#contactGarage > a, p#contactGarage > a:visited, p#contactTech > a, p#contactTech > a:visited {
	color: #23b0ca;
	text-decoration: none;
}
p#contactBus {
	clear: left;
	float: left;
	margin-top: 25px;
	font-weight: bold;
	font-size: 1.1em;
	text-align: center;
	width: 100%;
	margin-left: -6px;
}
p#contactBus:before {
	content: "";
	background-image: url('http://adcompanyhosting.com/images/footer_button.png');
	background-repeat: no-repeat;
	padding-left: 41px;
	padding-bottom: 13px;
	padding-top: 11px;
}
p#contactGarage {
	clear: left;
	float: left;
	margin-top: 25px;
	font-weight: bold;
	font-size: 1.1em;
	text-align: center;
	width: 100%;
}
p#contactGarage:before {
	content: "";
	background-image: url('http://adcompanyhosting.com/images/footer_button.png');
	background-repeat: no-repeat;
	padding-left: 41px;
	padding-bottom: 13px;
	padding-top: 11px;
	margin-left: -21px;
}
p#contactTech {
	clear: left;
	float: left;
	margin-top: 25px;
	font-weight: bold;
	font-size: 1.1em;
	text-align: center;
	width: 100%;
}
p#contactImg2 {
	clear: left;
	float: left;
	margin-top: 50px;
	margin-left: 80px;
}
p#contactPony {
	clear: left;
	float: left;
	margin-left: 280px;
	margin-top: 20px;
	font-family: "alwaysheretoo";
	font-size: 1.5em;
}
p#contactAddy {
	clear: left;
	float: left;
	margin-left: 294px;
	margin-top: 20px;
	font-family: "aos-bold" !important;
	font-size: 1.1em;
}
p#contactImg3 {
	float: right;
	margin-top: -140px;
}
